@using View.Dialogs
@using Model.Entities
@using Domain.Repositories
@inject IDialogService DialogService

@if (Info is not null){
    <MudAppBar Class="bg-opacity-60" Fixed="true">
        <MudAvatar Square="true" Color="Color.Tertiary" Class="gamebar-btn" Variant="Variant.Outlined" @onclick="OpenSettingsDialog">
            <MudIcon Icon="@Icons.Material.Filled.Settings"/>
        </MudAvatar>
        <MudText Color="Color.Secondary" Class="ml-3 fw-bold">
            Round @Info?.Round
        </MudText>
        <MudSpacer/>
        @foreach (var nation in Nations.Where(i => i.Id is not 6).OrderBy(n => n.Type)){
            @if (nation.Id == Info.CurrentNationId){
                <MudBadge Color="Color.Success" Overlap="true" Dot="true">
                    <MudAvatar Image=@($"img/flags/{nation.Name}.svg") Class=@($"mr-1 bg-transparent border-{nation.Name}") />
                </MudBadge>
            }
            else{
                <MudAvatar Image=@($"img/flags/{nation.Name}.svg") Class=@($"mr-1 bg-transparent border-{nation.Name}") />
            }
        }
        <MudSpacer/>
        <MudText Class="fw-bold" Color="Color.Secondary">
            @Info?.Phase.ToString()
            <br/>
            <span class="d-flex justify-content-around">
                @for (int i = 0; i < 6; i++){
                    @if (i == Convert.ToInt32(Info?.Phase)){
                        <MudAvatar Class="dot-mini" Size="Size.Small" Style="@($"background-color:{Colors.Amber.Default};")"/>
                    }
                    else{
                        <MudAvatar Class="dot-mini" Size="Size.Small"/>
                    }
                }
            </span>
        </MudText>
        <MudSpacer/>
        @if (Info.StandardVictory){
            <MudAvatar Class="gamebar-score fw-bold" Square="true" Variant="Variant.Outlined" Color="Color.Tertiary">@Info?.AxisCapitals/9</MudAvatar>
        }
        else{
            <MudAvatar Class="gamebar-score fw-bold" Square="true" Variant="Variant.Outlined" Color="Color.Tertiary">@Info?.AxisCapitals/12</MudAvatar>
        }
        <MudStack Row="true" Style="gap: 1px !important;">
            @for (int i = 0; i < Info?.AxisCapitals; i++){
                <MudPaper Class="gamebar-score-point bg-red"/>
            }
            @for (int i = 0; i < Info?.AlliesCapitals; i++){
                <MudPaper Class="gamebar-score-point bg-blue"/>
            }
        </MudStack>
        @if (Info.StandardVictory){
            <MudAvatar Class="gamebar-score fw-bold" Square="true" Variant="Variant.Outlined" Color="Color.Tertiary">@Info?.AlliesCapitals/9</MudAvatar>
        }
        else{
            <MudAvatar Class="gamebar-score fw-bold" Square="true" Variant="Variant.Outlined" Color="Color.Tertiary">@Info?.AlliesCapitals/12</MudAvatar>
        }
    </MudAppBar>
}

@code {

    [Parameter]
    public SessionInfo? Info { get; set; }

    [Parameter]
    public List<Nation> Nations { get; set; } = new();

    private void OpenSettingsDialog(){
        var options = new DialogOptions{ CloseOnEscapeKey = true, CloseButton = true };
        DialogService.Show<SettingsDialog>("Menu", options);
    }
}